body {
    background-color: #151515;
}

.header {
    background-color: #2f2f2f;
    position: relative;
    padding: 14rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    position: fixed;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Rangile', serif;
    font-size: 90px;
}