body {
    height: 2000px;
    background-color: #151515;
}

.header {
    background-color: #2f2f2f;
    position: relative;
    padding: 14rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    transition: opacity 1s ease;
}

.header-content {
    position: fixed;
    text-align: center;
    z-index: 1;
}

h1 {
    color: white;
    font-family: 'Rangile', serif;
    font-size: 90px;
}

.text-block {
    background-color: #151515;
    z-index: 2;
    position: relative;
    padding: 14rem;
}